*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    width: 8px;

}
html{
    font-family: 'Noto Sans JP', sans-serif;
}
body::-webkit-scrollbar-thumb{
    background-color: #689CFF;
    border-radius: 4px;
}
a{
    text-decoration: none;
    display: inline;
    color: black;
}
.grid-container{
    max-width: 980px;
    margin: auto;
}
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #689CFF;
}
header .header-icons-container .items{
    width: 220px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: end;
    margin-right: 50px;
}
header .header-icons-container .items a span{
    color: #e5e5e5;
}
header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #e5e5e5;

}
nav .nav-logo-container img{
    width: 190px;
    margin-left: 50px;
}
nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
header nav .profile-link a{
    text-decoration: none;
}
nav .profile-link span:hover a{
    color: #689CFF;
}
nav .profile-link a {
    color: black;
    border-bottom: 1px solid;
}
.blogs-main{
    width: 100%;
    display: grid;
}
.blogs-news-container{
    background-color: #e6e9ed;
    padding: 0 50px 40px;
}
.blogs-main-new {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr ;
}
.blogs-main-new h3{
    padding-bottom: 20px;
}
.blogs-news-img-container{
    grid-column: 1;
}
.blogs-news-img-container img{
    width: 85%;
}
.blogs-news-info-container {
    grid-column: 2;
}
.blogs-news-info-container p{
    margin-bottom: 35px;

}
.blogs-posts-container{
    padding: 0 50px 40px;
    display: flex;
}
.blogs-posts-container h3{
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
}
.blogs-button{
    border: 1px solid #689CFF;
    padding: 10px 15px;
    font-size: 12px;
    color: black;
}
.blogs-posts-container .post-container{
    display: inline-block;
    padding-left: 10px;
    max-width: 31%;
    min-width: 200px;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 2%;
}
.blogs-posts-container .grid-container{
    width: 100%;
    max-width: 2400px;
}
.blogs-posts-container .post-container p{
    margin-bottom: 35px;
}
.blogs-posts-container .post-container img{
    width: 100%;
}
.grid-container .title{
    display: flex;
    justify-content: center;
}
footer{
    display: flex;
    width:100%;
    height: 90px;
    background-color: #22272d;
    border-top: 35px solid #689CFF;
    justify-content: center;
}
footer p{
    color: white;
    margin-top: 20px;
}
